body {
  margin:0;
  font-family: Arial;
  background: white;
  color:#fff;
  font-size: :1.1em;
  line-height: :1.5;
  text-align: center;
  background-color: white;
}

img{
  display:block;
  width: 100%;
  height: auto;
  border:100px;
}

h1,h2,h3{
  margin:0;
  padding: 1em 0;
}

p{
  margin:0;
  padding: 1em 0;
}

#show{
  min-height: 100px;
  color: #fff;
  text-align: center;
}

#show .bg-image{
  background-color: black;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100px;
  z-index: -1;

}

#section-a{
  padding: 2em 1em 1em;
}

#section-a ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-a li{
  margin-bottom: 1em;
  background: white;
  color:black;
  box-shadow: 5px 5px 5px 5px black;
  background: rgba(0, 0, 0, 0);
  opacity:1.0;

}

.card-content{
  padding: 1.5em;
}

@media(max-width: 200px) {
  .grid{
    display: grid;
    grid-column: 2/4;
  }

}

#section-a ul{
  display: flex;
  justify-content: space-around;

}

#section-a li{
  width:31%;
}
